.box {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
  }
  
  .container {
    padding: 10px;
    width: 50vw;
    border-radius: 5px;
    background-color: lightblue;
  }
  label{
    margin: 10px;
    display: block;
  }
  
  input{
    border-radius: 5px;
    outline: none;
  }
  .btn{
    background-color: rgb(177, 200, 207);
    border: 1px solid black;
    padding: 10px;
    color: white;
    cursor: pointer;

  }
@media screen and (max-width: 500px) {
    .container{
       
        width: 100vw;
    }
    
}  